.home-profile-img-container {
    margin-bottom: 10px;
}

.home-profile-img {
    margin-right: 10px;
}

.home-profile-table {
    margin-bottom: 0px;
}

.home-profile-table tr td {
    padding-bottom: 6px;
}